body {
	margin: 50px;
}

/* user story #13 #15 */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
}
/* user story #14 */
@media (max-width: 600px) {
	header {
		flex-wrap: wrap;
	}
}